body {
    text-align: center;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

#pitch-button {
    width: 364px;
    height: 240px;
    cursor: pointer;
    background-color: Transparent;
    border: none;
    outline: none;
    background-image: url("security.png");
    background-size: contain;
    transition-property: transform;
    transition-duration: 0.3s;
}

#pitch-button:hover, #pitch-button:focus {
    transform: scale(1.1);
}

#pitch-button:active {
    transform: scale(0.9);
}

.store-item {
    width: 300px;
    height: 64px;
    position: relative;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
    background-color: #2C99CE;
}

.store-item .icon {
    width: 64px;
    height: 64px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.store-item .tinfoil-hats {
    background-image: url("tinfoilhats.png");
}

.store-item .salesperson {
    background-image: url("salesperson.png");
}

.store-item .content {
    display: inline-block;
    position: absolute;
    left: 64px;
    top: 6px;
    right: 0px;
    bottom: 6px;
    padding: 4px;
}
